
/*template fond custom waves*/
.curved-div {
    background: #33393f;
    color: #fff;
    text-align: center;
}
.curved-div h1 {
    font-size: 6em;
    font-family: Arial, sans-serif, lucida;
}
.curved-div p {
    font-size: 1em;
    font-family: Arial, sans-serif, lucida;
}