body {
background-color: #222427;;
color: #ffffff;
margin: 0;
font-family: 'Prompt', sans-serif;
overflow: hidden;
}

/*template fond custom waves*/
 .curve {
    background-color: #33393f;
    color: #ffffff;
    text-align: center;
}
.curve h1 {
    font-size: 5rem;
    margin-top: 0;
}
.curve p {
    font-size: 3rem;
    margin-bottom: 0;
}
.curve svg {
    display: block;
} 
.svg {
    fill: #222427;
}

/*barre des taches*/
.bdt li{
    display: inline;
    float:right;
}
.bdt ul {
    background-color: #222427;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.bdt a {
    display: block;
    color:#ffffff;
    padding: 8px;
    background-color:#222427;
    text-align: center;
    text-decoration: none;
}

.bdt a:hover {
color:rgb(23, 175, 235);
}

/*dark mode*/
.btn-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 20px;
    border-radius: 25%;
    background: #fff;
    color: #333;
    border: 1px solid#333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
body.light {
    color: #333;
    background: #d3d3d0
}
body.light .curve {
    background-color: #e5e2e2;
    color: #33393f;
}
body.light .btn-toggle {
background: #333;
color: #fff;
}
body.light .bdt div{
    background: #d3d3d0;
}
body.light .bdt a {
    color: #333;
    background-color: #d3d3d0;
}
body.light .bdt a:hover {
    color: rgb(23, 175, 235);
}
body.light .svg {
    fill: #d3d3d0;
}