body {
background-color: #222427;;
color: #ffffff;
margin: 0;
font-family: 'Prompt', sans-serif;
overflow: hidden;
}

/*template fond custom waves*/
.curve {
    background-color: #33393f;
    color: #ffffff;
    text-align: center;
}
.curve h1 {
    font-size: 5rem;
    margin-top: 0;
}
.curve p {
    font-size: 3rem;
    margin-bottom: 0;
}
.curve svg {
    display: block;
}

/*barre des taches*/

.bdt li{
    display: inline;
    float:right;
}
.bdt ul {
    background-color: #222427;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.bdt a {
    display: block;
    color:#ffffff;
    padding: 8px;
    background-color:#222427;
    text-align: center;
    text-decoration: none;
}

.bdt a:hover {
color:rgb(23, 175, 235);
}
